// out:false
page{
  height: 100%;
}
.dynamic {
  padding-bottom: 200px;
  background: #f8f8f8;
  width: 750px;
  min-height: 100%;
  .index-list{
  }
  .no-more{
    text-align:center;
    color:#666;
    padding: 200px 0;
    .icon{
      font-size: 80px;
    }
  }
}