// out:false
.send-adopt {
  padding: 20px 0;
  width: 750px;
  .at-image-picker__choose-btn{
    border: none;
    background: #f8f8f8;
  }
  .info-card{
    padding: 20px;
    .at-input__title{
      font-size: 30px;
      color: #999;
    }
    .send-textarea{
      margin: 0 20px;
      width: auto;
      border-radius: 20px;
    }
    .chooseSex{
      height: 100px;
      line-height: 100px;
      margin: 0 32px;
      font-size: 32px;
      display: flex;
      .label{
        font-size: 30px;
        width: 172px;
        margin-right: 16px;
        color: #999;
      }
      .sex{
        margin-right: 10px;
        padding:0 20px;
        background: #f8f8f8;
        color: #ccc;
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        margin-top: 20px;
        border-radius: 10px;
        &.active{
          color: #fff;
          background: #88caf3;
        }
        .icon{
          font-size: 30px;
          font-weight: 700;
          display: inline;
        }
      }
    }
    .at-form:after{
      display: none;
    }
    .at-checkbox:after{
      border-bottom:none;
    }
    .at-checkbox:before{
      border-top:none;
    }
    .at-article__p{
      white-space: pre-wrap;
      margin: 0 30px 30px;
      padding: 0 20px;
    }
    .picker{
      height: 100px;
      line-height: 100px;
      margin: 0 32px;
      font-size: 32px;
      display: flex;
      .label{
        font-size: 30px;
        width: 172px;
        margin-right: 16px;
        color: #999;
      }
      &.hairline--bottom {
        border-bottom: 1px solid #d6e4ef;
      }
    }
    .qr{
      display: block;
      width: 300px;
      margin:20px auto 0;
      border-radius: 16px;
    }
    .up-qr{
      margin-top:20px;
      height:120px;
      text-align: center;
      line-height: 120px;
      border-radius: 16px;
      border: 3px dashed #ddd;
      box-sizing: border-box;
      color: #999;
    }
    .submit,.subscribe{
      margin:20px 20px 0;
      border-radius: 20px;
      background: #51A9FC;
      border: none;
    }
  }
}