// out:false
.static{
  background: #fff;
  padding: 40px 0;
  .login-logo{
    width: 200px;
    height: 200px;
    background: url(https://6d61-maopuda-sv4uw-1300869164.tcb.qcloud.la/app/qr.JPG?sign=75af7106a4f4698523fa380a0c54846a&t=1581671692) center/contain no-repeat;
    margin: 0 auto 40px;
  }
  .login-text{
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
  }
  .sub-text{
    margin: 40px auto 20px;
    text-align: center;
    font-size: 32px;
    color: #666;
  }
  .login-btn{
    display: block;
    margin: 40px auto;
    background: #51A9FC;
    border: none;
    color: #fff;
    width: 400px;
    font-weight: 700;
  }
  .cardImage{
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}