// out:false
  .login{
    background: #fff;
    padding: 300px 0 0;
    .login-logo{
      width: 200px;
      height: 200px;
      background: url(https://6d61-maopuda-sv4uw-1300869164.tcb.qcloud.la/app/icon.png?sign=117fdc120c8488f161e9e87392434865&t=1579485957) center/contain no-repeat;
      margin: 0 auto 40px;
    }
    .login-text{
      text-align: center;
      font-size: 32px;
      line-height: 1.5;
      font-weight: 700;
    }
    .login-btn{
      display: block;
      margin: 200px auto 0;
      background: #51A9FC;
      border: none;
      color: #fff;
      width: 400px;
      font-weight: 700;
    }
  }