// out:false
page{
  height: 100%;
}
.dialog {
  height: 100%;
  padding-bottom: 160px;
  background: #eee;
  .dialog-box{
    height: 100%;
    .adopt-card-receive{
      width: 400px;
      border-radius: 30px;
      background: #fff;
      font-size: 34px;
      margin: 20px;
    }
    .adopt-card-send{
      width: 400px;
      border-radius: 30px;
      background: #51A9FC;
      color: #fff;
      font-size: 34px;
      margin: 20px;
      margin-left: 330px;
    }
    .text-card-receive{
      width: 400px;
      padding: 30px;
      border-radius: 30px;
      background: #fff;
      font-size: 34px;
      margin: 20px;
    }
    .text-card-send{
      width: 400px;
      padding: 30px;
      border-radius: 30px;
      background: #51A9FC;
      color: #fff;
      font-size: 34px;
      margin: 20px;
      margin-left: 330px;
    }
    .adopt-card{
      font-size: 0;
      .adopt-avatar{
        width: 400px;
        height: 200px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
      .adopt-text{
        font-size: 34px;
        padding: 20px;
      }
    }
  }
  .operate-bar{
    width: 750px;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #f8f8f8;
    display: flex;
    &.ipx{
      height: 160px;
    }
    .send-input{
      height: 80px;
      margin: 20px;
      flex:1;
      border-radius: 80px;
      padding: 0 30px;
      font-size: 34px;
      background: #fff;
    }
    .send-btn{
      width: 80px;
      height: 80px;
      background: #51A9FC;
      border-radius: 50%;
      margin: 20px;
      text-align: center;
      line-height: 80px;
      padding: 0;
      .icon{
        color: #fff;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}